/*-------------------------------- Polices --------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*------------------------------ Styles généraux ------------------------------*/

html {
    background: #F8D112;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1240px;
    background: white;
    margin: auto;
}

/*------------------------------ Header ------------------------------*/

header {
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    
    height: 280px;          
    
    border-bottom:5px solid #F8D112;
    
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.head {
    display: flex;
    justify-content:space-between;
}

nav {
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    background: rgba(248,209,18,0.6);
}

ul { 
    margin:0;
    padding:0;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    border: solid black 0;
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    
    height: 40px;
    line-height: 40px;
    width: 100%; 
}

a { 
    border: solid black 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display:block;
}

a:hover {
    color: white;
    background: rgba(25,25,25,0.5);
}

input::placeholder {
    color: black;
    text-align: center;
    
}

.head input {
    height: 40px;
    width: 300px;
    background: rgba(248,209,18,0.6);
    border: 0px;
}

.logo {
    max-height: 150px;
    max-width: 150px;
    
    margin: auto;
    padding: 20px;
}

.ancre {
    scroll-margin-top: 300px;
}

/*------------------------------ Main ------------------------------*/

.presentation {
    display: flex;    
}

main section {
    margin-bottom: 20px;
}

.presentation, .boutiques, .renseignements {
    
    border-bottom:5px dashed #F8D112;    
}

.texte {
    flex-direction: column;
}

.resume {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.illustration {
    max-height: 500px;
    max-width: 500px;
    padding: 20px;
}

.titre {
    text-align: center;
}

.articles {
   display: flex;
    justify-content: space-around;
}

.articles article {
    
    margin: 10px;
    padding: 10px;
    border: 2px solid #F8D112;
}

.boutique {
    max-height: 200px;
    max-width: 200px;
}

.visite {
    text-align: center;
}

.textes {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.titreboutique {
    text-align: center;
    
}

.txt1 {
    flex-direction: column; 
}

.sectionimage {
    max-height: 250px;
    max-width: 250px;
}

.valeurs, .emplacements {
    padding: 10px;
}

.paragraphe {
    max-height: 250px;
    max-width: 250px;
}

.titreformulaire {
    text-align: center;
}


.form {
    display: flex;
    justify-content: center;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

.i1 {
    width: 228px;
}

.i2 {
    width: 465px;
}
input, textarea {
  width: 150px;
}
 
textarea {
  height: 100px;
    width: 465px;
}
 
select {
  width: 254px;
}
 
input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
}

.captcha {
    max-width: 350px;
}

/*------------------------------ Footer ------------------------------*/

footer {
    border-top:5px solid #F8D112;
    
    background: #202020;
    color: white;
    
    padding: 0px 10px 0px 10px;

    display: flex;
    justify-content: space-between;
}

.sectionfooter {
    padding: 10px 0px 0px 0px;
    width: 20%;
    
    display: flex;
    flex-direction: column;
    
}

.copyright {
    padding: 10px 0px 0px 0px;
    width: 20%;
}

.twitter, .instagram, .facebook {
    display: flex;
} 

.media {
    max-height: 30px;
    max-width: 150px;
    
    margin: auto;
    padding: 10px;
}
