/*-------------------------------- Polices --------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*------------------------------ Styles généraux ------------------------------*/

html {
    background: #F8D112;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1240px;
    background: white;
    margin: auto;
}

/*------------------------------ Header ------------------------------*/

header {
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    
    height: 280px;          
    
    border-bottom:5px solid #F8D112;
    
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.head {
    display: flex;
    justify-content: space-between;
}

nav {
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    background: rgba(248,209,18,0.6);
}

ul { 
    margin:0;
    padding:0;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    border: solid black 0;
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    
    height: 40px;
    line-height: 40px;
    width: 100%; 
}

a { 
    border: solid black 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display:block;
}

a:hover {
    color: white;
    background: rgba(25,25,25,0.5);
}

input::placeholder {
    color: black;
    text-align: center;  
}

input {
    height: 40px;
    width: 200px;
    background: rgba(220,217,217,0.3);
    border: 0px;
}

.logo {
    max-height: 150px;
    max-width: 150px;
    
    margin: auto;
    padding: 20px;
}

/*------------------------------ Main ------------------------------*/

main {
    padding: 0px 10px 0px 10px;
    
}

input::placeholder {
    color: black;
    text-align: left;
    
}

h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.produits {
    display:flex;
    justify-content: space-between;
}

.inter_section {
    display: flex;
}

.legotheme {
    max-height: 50px;
    max-width: auto;
}

main section {
    margin-bottom: 20px;
    display: flex;
}

.theme {

    border-bottom:5px dashed #F8D112;
}

.lot {
    
    border: 2px solid #F8D112;
    display: flex;
    
    width: 100%;
    height: auto;
    
    margin: 10px;
    
    padding-right: 5px;
}

.prix_stock {
    display: flex;
}

.employees {
    
    display: flex;
    
    width: 100%;
    height: auto;
    
}

.imgemploye {
    max-height: 100px;
    max-width: 100px;
    
    margin: auto;
    padding: 20px;
}

.coords {
    
    border: 2px solid #F8D112;
    
    width: 100%;
    height: auto;
    
    margin: 10px;
    padding:20px;
}

.informationscoords {
    display: flex;
    
    justify-content: space-between;
}

.map {
    max-height: 250px;
    max-width: 250px;
}


.horaires {
    
    border: 2px solid #F8D112;
    display: flex;
    
    flex-direction: column;
    
    width: 40%;
    height: auto;
    
    margin: 10px;
    padding:20px;
}

.test {
    display: flex;
    flex-direction: row;
}

.ancre {
    scroll-margin-top: 300px;
}

/*------------------------------ Footer ------------------------------*/

footer {
    border-top:5px solid #F8D112;
    
    background: #202020;
    color: white;
    
    padding: 0px 10px 0px 10px;

    display: flex;
    justify-content: space-between;
}

.sectionfooter {
    padding: 10px 0px 0px 0px;
    width: 20%;
    
    display: flex;
    flex-direction: column;
    
}

.copyright {
    padding: 10px 0px 0px 0px;
    width: 20%;
}

.twitter, .instagram, .facebook {
    display: flex;
} 

.media {
    max-height: 30px;
    max-width: 150px;
    
    margin: auto;
    padding: 10px;
}

