<!doctype html>
<html lang="fr">
    <head>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <script src="script.js"></script>
        <link rel="stylesheet" href="templates/boutique.css">
        
    </head>
    <body>

        <header>
        
            <div class="head">  
                <nav class="menu">
                    <ul class="liens">
                        <li><a href="index.twig.html">Accueil</a></li>
                        <li><a href="#produits">Produits LEGO</a></li>
                        <li><a href="#equipe">L'équipe de vente</a></li>
                        <li><a href="#coordonnees">Coordonnées</a></li>
                        <li><a href="#horaires">Horaires d'ouverture</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="logo">
            
                <img src="images/LEGO_logo.png" alt="Logo" class="logo"/>
            
            </div>
            
        </header>
        <main>
            <div class="produits">       
                <h2 id="produits" class="ancre"> Nos produits LEGO à Orléans</h2>
                <input type="search" id="recherche" placeholder="🔎 rechercher">
            </div>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->            
            
            <h3> Les lots promotionnels</h3>

            <section class="lots">
            
            {% for lot in promos %}
                <article class="lot">
                    <div class="image">
                        <img src="{{ lot.image }}" alt="Logo" class="logo"/>
                    </div>
                    <div class="infos">
                        
                        <h4>{{ lot.nom }}</h4>
                        <p>{{ lot.numero }}</p>
                        <p>{{ lot.age }}</p>
                        
                        <div class="prix_stock">
                            {% if lot.quantite > 0 %}
                                <p>{{ lot.prix }} € | disponible ({{ lot.quantite }})</p>
                            {% else %}
                                <p>{{ lot.prix }} € | indisponible ({{ lot.quantite }})</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}
                
            </section>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->            
            
            <h2>Les thèmes proposés</h2>
            

            
            <div class="inter_section">
                <img src="{{ images.classic }}" alt="Logo" class="legotheme"/>
            </div>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->          
            
            <section class="theme"> 
            {% for set in classic %}    
                <article class="lot">
                    <div class="image">
                        <img src="{{ set.image }}" alt="Logo" class="logo"/>
                    </div>
                    <div class="infos">
                        
                        <h4>{{ set.nom }}</h4>
                        <p>{{ set.numero }}</p>
                        <p>{{ set.nbpieces }} pièces | Age:{{ set.age }}</p>
                        
                        <div class="prix_stock">
                            {% if set.quantite > 0 %}
                                <p>{{ set.prix }} € | disponible ({{ set.quantite }})</p>
                            {% else %}
                                <p>{{ set.prix }} € | indisponible ({{ set.quantite }})</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}   
            
            </section>

<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->
            
            <div class="inter_section">
                <img src="{{ images.art }}" alt="Logo" class="legotheme"/>
            </div>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->           
            
            <section class="theme"> 
                
                {% for set in art %}    
                <article class="lot">
                    <div class="image">
                        <img src="{{ set.image }}" alt="Logo" class="logo"/>
                    </div>
                    <div class="infos">
                        
                        <h4>{{ set.nom }}</h4>
                        <p>{{ set.numero }}</p>
                        <p>{{ set.nbpieces }} pièces | Age:{{ set.age }}</p>
                        
                        <div class="prix_stock">
                            {% if set.quantite > 0 %}
                                <p>{{ set.prix }} € | disponible ({{ set.quantite }})</p>
                            {% else %}
                                <p>{{ set.prix }} € | indisponible ({{ set.quantite }})</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %} 
            
            </section>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->
            
            <div class="inter_section">
                <img src="{{ images.brickheadz }}" alt="Logo" class="legotheme"/>
            </div>
            
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->           
            
            <section class="theme"> 
                
            {% for set in brickheadz %}    
                <article class="lot">
                    <div class="image">
                        <img src="{{ set.image }}" alt="Logo" class="logo"/>
                    </div>
                    <div class="infos">
                        
                        <h4>{{ set.nom }}</h4>
                        <p>{{ set.numero }}</p>
                        <p>{{ set.nbpieces }} pièces | Age:{{ set.age }}</p>
                        
                        <div class="prix_stock">
                            {% if set.quantite > 0 %}
                                <p>{{ set.prix }} € | disponible ({{ set.quantite }})</p>
                            {% else %}
                                <p>{{ set.prix }} € | indisponible ({{ set.quantite }})</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %} 
            
            </section>
            
            <h2 id="equipe" class="ancre">Nos employés</h2>
            
            <section class="employees">
 
<!-----------------------------------------------------------------------------------------------------------------------------------------------            --> 
                                 
                {% for employe in personnel %}
                    <article class="lot">
                        <div class="image">
                            <img src="{{employe.photo}}" alt="Logo" class="imgemploye"/>
                        </div>
                        <div class="infos">
                            
                            <h4>{{employe.nom}}</h4>
                            <p>{{employe.fonctions}}</p>
                            
                        </div>
                    </article>
                    {% endfor %}
                
<!-----------------------------------------------------------------------------------------------------------------------------------------------            -->                 
                  
            </section>
            
            <h2>Algo-LEGO Orléans | Informations</h2>
            
            <section class="infoscoords">
                
                <article class="coords">
                    <h3 id="coordonnees" class="ancre">Coordonnées et contacts</h3>
                    
                    <div class="informationscoords">
                        <div class="texte">
                            <p>Adresse: {{orleans.coordonnees}}</p>
                            <p>Code postal | Ville: {{orleans.codepostal}}</p>
                            <p>Tel: {{orleans.tel}}</p>
                        </div>
                        
                        <div>
                            <img src="{{ orleans.map }}" alt="Logo" class="map"/>
                            <img src="{{ orleans.magasin }}" alt="Logo" class="map"/>
                        </div>
                    </div>
                </article>
                
                <article class="horaires">
                    <h3 id="horaires" class="ancre">Horaires d'ouverture/fermerure</h3>
                    
                    <div class="informationshoraires">
                        
                        <p>Lundi: {{ horaires.lundi }}</p>
                        <p>Mardi: {{ horaires.mardi }}</p>
                        <p>Mercredi: {{ horaires.mercredi }}</p>
                        <p>Jeudi: {{ horaires.jeudi }}</p>
                        <p>Vendredi: {{ horaires.vendredi }}</p>
                        <p>Samedi: {{ horaires.samedi }}</p>
                        <p>Dimanche: {{ horaires.dimanche }}</p>
                    
                    </div>
                    
                </article>
            
            </section>
            
        </main>
        <footer>
            <div class="sectionfooter">
                
            <h3>Algo-LEGO France | Réseaux</h3>    
            
                    <div class="twitter">
                       <img src="images/logo_twitter.png" alt="Logo" class="media"/>
                        <p>{{ reseaux.twitter }}</p>
                    </div>
                    
                    <div class="instagram">
                       <img src="images/logo_instagram.png" alt="Logo" class="media"/>
                        <p>{{ reseaux.instagram }}</p>
                    </div>
                    
                    <div class="facebook">
                       <img src="images/logo_facebook.png" alt="Logo" class="media"/>
                        <p>{{ reseaux.facebook }}</p>
                    </div>
                
            </div>

            <div class="copyright">

                <h3><span>Copyright</span></h3>

                <p>Développé et intégré par Lucas Cosson</p>
                <p>MMI 1 groupe C</p>

            </div>

        </footer>
    </body>
</html>